<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>
    <form action="/login" method="post">
        <label for="">Email</label><br>
        <input type="text" name="useremail" id="email"><br>
        <label for="">Password</label><br>
        <input type="text" name="userpassword" id="password"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>